.alert {
  font-size: 1.25rem;
  padding: 0.8rem 1.25rem;
}

.success {
  background: rgb(0, 153, 34);
  color: #fff;
  border: 1px solid #00cc00;
}

.danger {
  background: rgb(153, 0, 34);
  color: #fff;
  border: 1px solid #cc0000;
}
